@import './resets/normalize.css'

$grid-color: #78d376
$player-color: #009e37

body
  background-color: #2D2D2D
  font-family: sans-serif
  font-size: 16px
  color: #ddd

caption
  text-transform: uppercase
  color: #ccc
  margin: 0.7em


table
  border-collapse: collapse
  border-spacing: 0
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

td
  height: 0.6em
  width: 0.6em
  border: 1px solid $grid-color

.floor, .door
  background: #ccc
  border: 1px solid lighten($grid-color,20%)

.player
  background: $player-color
  border: 1px solid $player-color

.enemy
  background: brown

.potion
  background: red

.weapon
  background: yellow

.exit
  background: purple
