@import './resets/normalize.css'

$grid-color: #78d376
$player-color: #009e37
$background-color: #2D2D2D

body
  background-color: $background-color
  font-family: sans-serif
  font-size: 16px
  color: #ddd

.cell
  float: left
  height: 1.1em
  width: 1.2em
  border: 0px
  background: $grid-color
  border: 1px solid $background-color

.floor, .door
  background: #ddd
  border: 1px solid #eee

.player
  background: $player-color
  border: 1px solid #eee

.enemy
  background: brown

.potion
  background: red

.weapon
  background: yellow

.exit
  background: purple

.clearfix:after
  content: ""
  display: table
  clear: both
